{% extends 'base.html' %}
{% block content %}
    <div class="modal-content">
{#        <div>#}
{#            <button id="close_modal" style="background: white; border: none">Закрыть</button>#}
{#            <form id="test_form" method="post" enctype="multipart/form-data" style="margin-top: 20px">#}
{#                {% include 'partial/form.html' with button_text='Добавить' %}#}
{#            </form>#}
{#        </div>#}

        <h1>Создание задачи</h1>
	    {% include 'partial/form.html' with form_method="post" is_data=True value_submit='Создать'%}
    </div>
{% endblock %}