{% extends '_base.html' %}
{% block title %}{{ task.name }}{% endblock %}
{% block menu %}
    <a class="nav-link" aria-current="page" href={% url 'webapp:index' %}>На главную</a>
{% endblock %}
{% block links %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task %}
            <a href="{% url 'secretary:in_mails_create_view' %}">добавить письмо</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div style="font-size: 14px">
        <h1>список входящих писем</h1>
            {% include 'partial/in_mails_table.html' %}
    </div>
{% endblock %}