{% extends '_base.html' %}
{% load static %}

{% block title %}
    Список исходящих писем
{% endblock %}

{% block links %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task %}
            <a href="{% url 'secretary:out_mails_create_view' %}"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> 
                Добавить исходящее письмо
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="main_area">
        {% include 'partial/out_mails_table.html' %}
    </div>
{% endblock %}