{% extends '_base.html' %}
{% load static %}

{% block title %}
    Список исходящих писем
{% endblock %}

{% block links %}
    {% if request.user.is_authenticated %}
            <a href="{% url 'secretary:out_mails_create_view' %}"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa-solid fa-plus"></i>
                Добавить исходящее письмо
            </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="main_area">
        {% include 'partial/out_mails_table.html' %}
    </div>
{% endblock %}