{% extends 'base.html' %}

{% block title %}{{ task.name }}{% endblock %}
{% block menu %}
    <a class="nav-link" aria-current="page" href={% url 'webapp:index' %}>На главную</a>
    <a class="nav-link" aria-current="page" href={% url 'webapp:task_update_view' pk=task.pk %}>Редактировать</a>
    <a class="nav-link" aria-current="page" href={% url 'webapp:task_delete_view' pk=task.pk %}>Удалить</a>

{% endblock %}

{% block content %}

    <h1>Мои задачи</h1>
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Приоритет:{{ task.priority }}</h6>
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">Автор: {{ task.author }}</p>
                <p class="card-text">Дедлайн: {{ task.deadline }}</p>
                <p class="card-text">Отдел: {{ task.destination_to_department }}</p>
                <p class="card-text">Cотрудник: {{ task.destination_to_user }}</p>
                <p class="card-text">Основная задача: {{ task.parent_task }}</p>
                <p class="card-text">Создано: {{ task.created_at }}</p>
                <p class="card-text">Отредактировано: {{ task.updated_at }}</p>
            </div>
        </div>
<div class="row row-cols-3">
    <div class="col"></div>
</div>


{% endblock %}
