{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav class="navbar" style="background-color: #165592">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/tg_image_3817732953.jpeg' %}" alt="Logo" width="40" height="40"
                     class="d-inline-block align-text-top">
            </a>

        </div>
    </nav>
</header>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">задачи
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">заявки
        </button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Contact
        </button>
    </div>
</nav>
<div class="tab-content m-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="container ">
            <div class="column border" style="padding: 0 5px">
                
            </div>
            <div class="column border pt-2" style="padding: 0 5px">
                {% for task in tasks %}
                    <p class="border"><a href="{% url 'webapp:task_detail' pk=task.pk %}">{{ task.title }}</a></p>
                {% endfor %}
            </div>
            <div class="column border" style="padding: 0 5px">
                {% for department in departments %}
                	<p>{{ department.name }}</p>
                {% endfor %}
            
                {% for position in positions %}
                	<p>{{ position.name }}</p>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        asdaklsjdlkajsdlkasjkldjlaksjdlkajsldkjad
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        sdfgpsprhpoirsoiguodirusgtrg
    </div>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script type="module" src="{% static 'js/main.js' %}"></script>
<script type="module" src="{% static 'js/show_list.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var links = document.querySelectorAll('.column.border.pt-2 a');
        links.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                var url = this.getAttribute('href'); 
                var targetDiv = document.querySelector('.column.border:not(.pt-2)');
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        targetDiv.innerHTML = html;
                    })
                    .catch(error => console.error('Error fetching:', error));
            });
        });
    });
</script>


</html>