{% extends '_base.html' %}
{% load static %}

{% block title %}
    Мои задачи
{% endblock %}
{% block links %}
    <a href="{% url 'webapp:create_task' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Создать задачу </a>
{% endblock %}
{% block menu %}
{% endblock %}

{% block content %}
    <div class="d-flex">

        <div id="main_area">
            {% include 'partial/tables.html' %}
        </div>
    
        <div id="task_detail_view">
            
        </div>


    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>


{% endblock %}