{% extends '_base.html' %}
{% load static %}

{% block title %}
    Мои задачи
{% endblock %}
{% block links %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task %}
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm action-btn_task" 
                    data-action_task="{% url 'webapp:create_task' %}">
                <i class="fas fa-download fa-sm text-white-50"></i> Создать задачу
            </button>
        {% endif %}
    {% endif %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block content %}
    <div>
{#        <button id="tasks" class="show_list" data-show_list="{% url 'webapp:tasks' %}">Задачи</button>#}
{#        <button id="proposals" class="show_list" data-show_list="{% url 'webapp:proposals' %}">Заявки</button>#}
    </div>
{#    <div id="main_area">#}
{#         {% include 'partial/task_list.html' %}#}
{#    </div>#}
    <div id="main_area">
         {% include 'partial/tables.html' %}
{#        <div class="container">#}
{#            {% include 'partial/cards.html' %}#}
{#        </div>#}
    </div>

    <div id="action-task-modal_window" class="modal">

    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
          $('#DataTable').DataTable();
        });
    </script>
{% endblock %}