{% extends 'base.html' %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            {{ task.type }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">Статус {{ task.status }}</p>
            <p class="card-text">Приоритет {{ task.priority }}</p>
            <p class="card-text">{{ task.description }}</p>
        </div>
        <div class="card-footer text-body-secondary">
            Дата создания {{ task.created_at }}
            Дата начала {{ task.start_date }}
            Дата завершения {{ task.done_at }}
            Дедлайн {{ task.deadline }}
        </div>
        <div>
            <button class="action-btn_task" data-action_task="{% url 'webapp:add_file' task_pk=task.pk %}">Прикрепить
                файл
            </button>
            {% for file in files %}
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:'uploads/user_docs/' }}</a>
                <a href="{% url 'webapp:delete_file' task_pk=file.task.pk file_pk=file.pk %}">Удалить</a>
            {% endfor %}
        </div>
    </div>
    {% if task.type.name == "Заявка" %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Чеклисты
            </button>
            <ul class="dropdown-menu">
                {% for checklist in checklists %}
                    <li><a class="dropdown-item"
                           href="{% url 'webapp:add_subtasks' task_pk=task.pk checklist_pk=checklist.pk %}">{{ checklist.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if subtasks %}
        <div style="margin-top: 80px">Подзадачи</div>
        {% for task in subtasks %}
            {{ task.title }}
        {% endfor %}
    {% endif %}
    <div id="action-task-modal_window" class="modal"></div>
    <div>
        {% for changes in history %}
            <ul>
                {% for change in changes %}
                    {% if "файл" in change.0 %}
                        <li>{{ change.0 }} {{ change.3|cut:'uploads/user_docs/' }} Дата: {{ change.1 }}
                            Автор {{ change.2 }}</li>
                        {{ change.del }}
                    {% else %}
                        <li>Поле {{ change.0 }} изменено с {{ change.3 }} на {{ change.4 }} Дата
                            изменения: {{ change.1 }} Кто изменил: {{ change.2 }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        <ul>
            <li>
                Создана задача {{ task.id }} {{ task.title }} Дата создания: {{ task.created_at|date:"Y-m-d H:i:s" }}
                Автор {{ task.author }}
            </li>
        </ul>
    </div>
{% endblock %}