{% extends '_base.html' %}
{% load static %}


{% block title %}Удалить отдел{% endblock %}

{% block content %}

    <div class="modal-content p-4">
        <div>

            <h3>Вы уверены, что хотите удалить отдел "{{ object }}"?</h3>

            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Удалить">
                <a class="btn btn-primary" href="{% url 'accounts:department_list' %}">Отмена</a>
            </form>
            </p>

        </div>
    </div>

{% endblock %}

