<div class="row">
    <div class="col-md-6">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                Задачи
{#                <div class="text-white-50 small">#4e73df</div>#}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                Заявки
{#                <div class="text-white-50 small">#1cc88a</div>#}
            </div>
        </div>
    </div>
</div>