{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">


{% if not fields_only %}
<form action="{{ action_url }}" method="{{ form_method }}">

    
{% csrf_token %}
{% endif %}
{% for error in form.non_field_errors %}

    <p class="text-danger">{{ error }}</p>

{% endfor %}

{% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br/>
    {{ field }}


    {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}


    <br/>
{% endfor %}

{% if not fields_only %}
<input type="submit" value="{{ value_submit }}"/>
</form>
{% endif %}