{% load static %}

{% if not fields_only %}
    <form class="custom_form" action="{{ action_url }}" method="{{ form_method }}">
{% endif %}

{% for error in form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}

{% csrf_token %}
{% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br/>
    {{ field }}


    {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}


    <br/>
{% endfor %}

{% if not fields_only %}
    <input id="submit_button" class="btn btn-success w-25 text-center" type="submit" value="{{ value_submit }}"/>
    </form>
{% endif %}
