<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="DataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Задача</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th>Приоритет</th>
                    <th>Дедлайн</th>
                    <th>Сотрудник</th>
                    <th>Отдел</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'webapp:task_proposal_view' pk=task.pk%}">{{ task.title }}</a></td>
                        <td>{{ task.type }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.destination_to_user }}</td>
                        <td>{{ task.destination_to_department }}</td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    </div>
</div>
