<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="DataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Задача</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Дата создания</th>
                <th>Дедлайн</th>
                <th>От кого</th>
            </tr>
            </thead>
            <tbody id="table_body">
                {% for task in tasks %}
                    <tr style="cursor: pointer" class="detail-btn_task" data-detail_task="{% url 'webapp:task_proposal_view' pk=task.pk %}">
                        <td>{{ task.title }}</td>
                        <td>{{ task.type }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.created_at|date:"d-m-Y H:i" }}</td>
                        {% if task.deadline %}
                            <td>{{ task.deadline }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ task.author }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
