<div class="card-body pt-0">
    <div class="table-responsive">
        <table class="table table-bordered" id="TaskDataTable" width="100%" cellspacing="0" style="display: none">
            <thead>
            <tr>
                <th>ID</th>
                <th>Задача</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Дата создания</th>
                <th>Дедлайн</th>
                <th>От кого</th>
            </tr>
            </thead>
            <tbody id="table_body" data-whose_table="{{ request.user.username }}">
            {% for task in tasks %}
                <tr data-type="task" style="cursor: pointer" class="detail-btn_task"
                    data-detail_task="{% url 'webapp:task_proposal_view' pk=task.pk %}" id="task_id_{{ task.pk }}">
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.type }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.created_at|date:"d-m-Y H:i" }}</td>
                    {% if task.deadline %}
                        <td>{{ task.deadline|date:"d-m-Y H:i" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ task.author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
