<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="DataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Код компании</th>
                <th>Название компании</th>
                <th>ИНН Компании</th>
                <th>Физическое расположение договора</th>
                <th>Вложение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% for company in companies %}
                <tr>
                    <td>{{ company.company_code }}</td>
                    <td>{{ company.company_name }}</td>
                    <td>{{ company.company_inn }}</td>
                    <td>{{ company.contract_location.location_name }}</td>
                    <td>
                        {% if company.attachment %}
                            <a href={{ company.attachment.url }} download>{{ company.attachment | cut:'uploads/companies/' }}</a>
                        {% else %}
                            <p>Нет вложений</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'secretary:company_update_view' pk=company.pk %}"><i
                            class="fas fa-fw fa-edit"></i></a>
                        <a href="{% url 'secretary:company_delete_view' pk=company.pk %}"><i
                                class="fas fa-fw fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>