<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="DataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Исходящий № документа</th>
                <th>Дата регистрации</th>
                <th>Кому адресован документ</th>
                <th>Краткое содержание</th>
                <th>Кол-во страниц</th>
                <th>Какой входящий № документ исполнения</th>
                <th>ФИО исполнителя/подписавший документ</th>
                <th>Статус</th>
                <th>Скан</th>
                <th>Комментарии</th>
                <th>Вложение</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% for out_mail in out_mails %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0; border: none; font-size: 14px">
                                {{ out_mail.out_mail_number }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Изменить</a>
                                <a class="dropdown-item" href="#">Удалить</a>
                            </div>
                        </div>
                    </td>
                    <td>{{ out_mail.registration_date }}</td>
                    <td>{{ out_mail.receiver }}</td>
                    <td>{{ out_mail.description }}</td>
                    <td>{{ out_mail.pages_count }}</td>
                    <td>{{ out_mail.input_mail_number }}</td>
                    <td>{{ out_mail.responsible_person }}</td>
                    <td>{{ out_mail.status }}</td>
                    <td>{{ out_mail.get_scan_status }}</td>
                    <td>{{ out_mail.comments }}</td>
                    <td>{% if out_mail.attachment %}
                            <a href={{ out_mail.attachment.url }} download>{{ out_mail.attachment | cut:'uploads/out_mails/' }}</a>
                        {% else %}
                            <p>Нет вложений</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
