body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.form-error {
    color: #dc3545;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

h1 {
    text-align: center; /* Добавлено для центрирования заголовка */
}
