.blink {
    animation: blink 2s infinite;
    color: green;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#main_area {
    font-size: 14px;
}

.card-body {
    padding-top: 0px;
}

#DataTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-end,
#DataTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-start {
    padding-top: 0px;
}

table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
    padding: 5px 7px;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
    text-align: left;
}

#user_dep_list_area > table > tbody > tr > td {
    padding: 7px 7px;
}

.form-group {
    margin-bottom: 20px;
}

.action_task_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.action_task_modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.action_task_form-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#task-detail-info {
    display: none;
}

.list-group-item {
    margin-bottom: 20px;
}

.list-group-item a {

    margin-right: 10px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 70px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #4e73df;
    --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    z-index: 10000;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.bluetext {
    color: #4e73df;
}