.card {
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

h1 {
    text-align: center;
}
